.todoBox__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todoBox {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid #ff6969;
    margin: 2rem;
}
